/*=========================== NAVBAR STYLING ================================*/
#navbar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: 3px 3px 10px black;
     a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    border-bottom: 2px solid black;
     }
     header {
         font-size: 22px;
         margin-left: 2%;
         font-weight: bold;
         border-bottom: 2px solid black;
         padding: 10px;
     }
}
#navbar a:hover {
    color: gray;
}
/*=========================== MAIN CONTENT STYLING ================================*/
main {
    margin-left: 25%;
    padding: 20px;
    line-height: 1.2em;
    header {
        font-size: 25px;
        font-weight: bold;
        line-height: 1.2em;
    }
    section {
        padding: 20px;
        border-bottom: 2px solid black;
    }
}